DB_HOST=rain.db.elephantsql.com
DB_USERNAME=plnoayar
DB_PASSWORD=bfOASC2Xg5bjxdJfaBfyxHKKJT7B5hbK
DB_NAME=plnoayar
DB_PORT=5432

#Authentication credentials
TOKEN_TTL="120"
JWT_PRIVATE_KEY="SecretPrivateKey@ItInnventory$ystEm8"