DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=12345678
DB_NAME=inventory
DB_PORT=5432

# Authentication credentials
TOKEN_TTL="120"
JWT_PRIVATE_KEY="SecretPrivateKey@ItInnventory$ystEm8"


# AWS credentials
AWS_ACCESS_KEY_ID=AKVCM
AWS_SECRET_ACCESS_KEY=DJmO0pwCIH7
AWS_REGION=ap-southeast-1
AWS_BUCKET=mlbd-tahjib